<!DOCTYPE html>
<html>
  <head>
    <title>TestReactOnRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https:https://cloud.tinymce.com/stable/tinymce.min.js'></script>
    <!-- <script>
    tinymce.init({
      selector: '#mytextarea'
      plugins: 'code'
      toolbar: 'code'
    });
    </script> -->
    <meta charset="utf-8" />
  </head>

  <body>
    <!-- Including webpack assets into application -->
    <%= javascript_pack_tag 'main' %>

    <p class="alert"><%= alert %></p>
    <p class="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
