<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithWebpacker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'webpack-bundle' %>
    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
    <!-- <script>
    tinymce.init({
      selector: '#mytextarea'
      plugins: 'code'
      toolbar: 'code'
    });
    </script> -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
